
body {
    margin: 0;
    padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: auto;
}

div h3 {
    width: 100%;
    margin-block-start: 45px;
    margin-block-end: 10px;
}
nav {
margin: 0;
padding: 0;
width:100%;
}
.container {
    margin: 0 10px 0;
    padding: 10px;
    display:flex;
    justify-content: space-between;
}

aside {
    display: flex;
    flex-direction: column;
    inline-size: 25%;
   margin-left: 3%;
}
aside h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
#search:hover {
    box-shadow: 1px 1px 3px 2px blue;
}
#pet {
    display: flex;
}
.card {
  inline-size: 18%;
    margin: 5px;
    padding: 5px;
    color: white;
    border-radius: 8px;
}
button {
    background: lightblue;
    color: white;
    margin: 5px;
}
#petcontainer {
    position: absolute; /* container is positioned relative to its parent element */ /* set the width of the container*/
    height: auto; /* set the height of the container */
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    margin-left: 80px;
    width: 100%;
}
#petImage {
    width: 100%;
    height: 10%;
}
#eachPet{
    display: flex;
    flex-direction: column;
    color: black;
    background-color: honeydew;
}
img{
  border-radius: 8px;
    width: 175px;
    height: auto;
}
#map {
    height: 300px; /* The height is 400 pixels */
    width: 40%; /* The width is the width of the web page */
    display: none;
    margin-left: 3%;
  }
#eachPet {
    border: 1px lightgrey solid;
    width: 350px;
    border-radius: 8px;
    margin: 3%;
    padding: 1%;
}
#eachPet a {
    font-size: 20px;
    color: indigo;
}
#eachPet a:hover {
    color: indianred ;
}
#scroll{
    overflow: scroll;
    max-height: 250px;
}
#mapcontainer{
    width:100%;
    height: 50%;
}
@media only screen and (max-width: 600px) {
    /* Change font size for smaller screens */
    body {
      font-size: 14px;
    }
    aside {
        width: 100%;
      }
      /* Change width of map container for smaller screens */
      .mapcontainer {
        width: 100%;
        height: 0;
      }
    
    /* Change width of container for smaller screens */
    .container {
      width: 90%;
    }
    /* Change width of cards for smaller screens */
    .card {
      width: 40%;
    }
  }
  /* Media query for screens larger than 600px and smaller than 1024px */
  @media only screen and (min-width: 600px) and (max-width: 1024px) {
    /* Change width of container for medium screens */
    .container {
      width: 80%;
    }
    /* Change width of cards for medium screens */
    .card {
      width: 30%;
    }
    aside {
        width: 100%;
      }
      /* Change width of map container for medium screens */
      .mapcontainer {
        width: 50%;
        height: 100%;
        overflow: auto;
      }
    }
  
  
  /* Media query for screens larger than 1024px */
  @media only screen and (min-width: 1024px) {
    /* Change width of container for large screens */
    .container {
      width: 70%;
    }
    /* Change width of cards for large screens */
    .card {
      width: 20%;
    }
    aside {
        width: 25%;
      }
      /* Change width of map container for large screens */
      .mapcontainer {
        width: 25%;
        height: 100%;
        overflow: auto;
      }
    }
  
  