
body {
    margin: 5%;
    padding: 2%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div h3 {
    margin-block-start: 45px;
    margin-block-end: 10px;
}

.container {
    margin: 0 10px 0;
    padding: 10px;
    display:flex;
    justify-content: space-between;
}

aside {
    display: flex;
    flex-direction: column;
    inline-size: 25%;
   margin: 40px;
  
}
aside h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    
}
#search:hover {
    box-shadow: 1px 1px 3px 2px blue;
}

main {
    display:flex;
    
}


#current img {
    inline-size: 20%;

    margin-inline-end: 20%;
}

#pet {
    display: flex;
}

.card {
  
    inline-size: 18%;
    margin: 5px;
    padding: 5px;
    color: white;
    border-radius: 8px;
}

button {
    background: lightblue;
    color: white;
    margin: 5px;
}

#history {
    display: flex ;
    flex-direction: column; 
    margin: 0 20px;
}
#currentPet{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 35%;

}
#petlocation{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute; /* inner divs are positioned absolute to the container */
    width: auto; /* set the width of the inner divs */
    height: auto;
    margin-left: 36%;
    
}
#petcontainer {
    position: absolute; /* container is positioned relative to its parent element */
    width: 90%; /* set the width of the container*/
    height: auto; /* set the height of the container */
    display: flex;
    flex-direction: column;
    margin-top: 15%;
}



#map {
    height: 400px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
  }
